#Ignore PDF Files
#*.pdf
#Ignore AUX files
*.aux
#Ignore LOG files
*.log
#Ignore OUT files
*.out
#Ignore auto folders
auto/
#Ignore .directory files
.directory
#Ignore .pyc files
*.pyc
.directory
\#*#
.#*
*.nav
*.toc
*.snm


